<div class="buttons-panel">
	<a id="manage-event" class="control-buttons form-btn k-primary" href="/events/dashboard" disabled="disabled" type="button">Manage Events</a>&nbsp;
	<a id="manage-speakers" class="control-buttons form-btn k-primary" href="/eventspeakers/list" type="button">Manage Event Speakers</a>&nbsp;
	<a id="manage-event-venue" class="control-buttons form-btn k-primary" href="/eventvenues/list" type="button">Manage Event Venues</a>&nbsp;
	<a id="manage-event-type" class="control-buttons form-btn" href="/eventtypes/list" type="button">Manage Event Types</a>&nbsp;
	<a id="manage-event-category" class="control-buttons form-btn" href="/eventcategories/list" type="button">Manage Event Categories</a>&nbsp;
	<a id="manage-event-status" class="control-buttons form-btn" href="/eventstatus/list" type="button">Manage Event Status</a>&nbsp;
</div>

<div style="text-align: left;">
	<div id="tabstrip">
		<ul>
			<li class="k-state-active">
				Schedule View
			</li>
			<li>
				List View
			</li>
		</ul>
		<div>
			<h3>Events Schedule</h3>

			<div class="buttons-panel">
				<a id="add-event-btn2" class="control-buttons form-btn k-primary" href="/events/create" type="button">Add Event</a>&nbsp;
			</div>

			<div class="buttons-panel">
				<label for="eventCategories" style="text-align: left; margin-right: 15px;">Select a Category:</label>
				<select id="eventCategories" name="eventCategories" style="display: inline-block; width: 300px;">
				</select>
			</div>

			<div id="scheduler-wrapper"></div>
		</div>
		<div>
			<h3>List of Events</h3>

			<div class="buttons-panel">
				<a id="add-event-btn" class="control-buttons form-btn k-primary" href="/events/create" type="button">Add Event</a>&nbsp;
			</div>

			<div id="grid-events" style="margin-bottom: 15px;"></div>

			<script type="text/x-kendo-template" id="event-details-template">
				<div style="width: 100%; margin: 5px;">
					<p style="font-size: 12px; width: 100%; padding: 5px; line-height: 1.3em;">
						<label style="width: 120px; text-align: right; margin-right: 5px;">Venue:</label>#: _eventVenue.venueName#<br />
						<label style="width: 120px; text-align: right; margin-right: 5px;">Event Type:</label>#: _eventType.typeName#<br />
						<label style="width: 120px; text-align: right; margin-right: 5px;">Event Category:</label>#: _eventCategory.categoryName#<br />
					</p>
				</div>
			</script>
		</div>
	</div>
</div>

<script type="text/x-kendo-template" id="scheduler-event-template">
	<div>
		<p style="font-size: 14px; font-weight: bold; width: 100%; margin: 5px; text-wrap: normal;">#: title #</p>
		<p style="font-size: 12px; width: 100%; padding: 5px;">#: eventType #</p>
	</div>
</script>

<script>
	$('#tabstrip').kendoTabStrip({
		animation:  {
			open: {
				effects: "fadeIn"
			}
		}
	});

	$('#grid-events').kendoGrid({
		dataSource: {
			//type: "json",
			transport: {
				read: "{{baseUri}}/api/events/get_all_events"
			},
			pageSize: 20
		},
		height: 550,
		groupable: true,
		sortable: true,
		pageable: {
			refresh: true,
			pageSizes: true,
			buttonCount: 5
		},
		detailTemplate: kendo.template($("#event-details-template").html()),
		columns: [
			{
				template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='/events/edit/?id=#: _id#'>Edit</a>&nbsp;" +
				"<a class='form-btn grid-buttons k-button' href='/api/events/delete_event/?id=#: _id#'>Delete</a></div>",
				field: "_id",
				title: " ",
				width: 188
			},{
				template: "<div style='text-align: center; border-radius: 5px; margin: 8px; height: 50px; width: 50px; background-color: #: _eventCategory.colorCode#'></div>",
				field: "colorCode",
				title: " ",
				width: 80
			},
			{
				field: "eventName",
				title: "Event Name"
			},
			{
				field: "isAllDay",
				title: "isAllDay?",
				template: "<span># if (isAllDay) { # YES # } else { # NO # } #</span>",
				headerTemplate: "<div style='text-align: center;'>isAllDay?</div>",
				width: 100
			},
			{
				field: "startDate",
				title: "Start Date",
				template: "<span>#: kendo.toString(new Date(kendo.parseDate(startDate)), 'dd-MM-yyyy')# #: startTime#</span>",
				width: 170
			},
			{
				field: "endDate",
				title: "End Date",
				template: "<span>#: kendo.toString(new Date(kendo.parseDate(endDate)), 'dd-MM-yyyy')# #: endTime#</span>",
				width: 170
			},
			{
				field: "_eventStatus.statusName",
				title: "Status",
				width: 120
			}
		]
	});


	var categories = [];

	var defaultCategory = '';

	var today = new Date();
	var startTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 7,0,0);
	var endTime = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 23,0,0);

	$('#scheduler-wrapper').html('<div id="scheduler"></div>');

	$.get('{{baseUri}}/api/eventcategories/get_list_selection', function(categories) {
		defaultCategory = categories[0]._id;
	});

	$(document).ready(function() {
		$('#eventCategories').kendoDropDownList({
			index: 0,
			dataTextField: "categoryName",
			dataValueField: "_id",
			dataSource: {
				//type: "json", // specifies data protocol
				transport: {
					read: "{{baseUri}}/api/eventcategories/get_list_selection"
				}
			},
			value: defaultCategory,
			select: function (e) {

				categories = [];

				var scheduler = $('#scheduler').data('kendoScheduler');

				scheduler.destroy();

				$('#scheduler-wrapper').html('<div id="scheduler"></div>');

				loadScheduler();
			}
		});

		loadScheduler();
	});

	function loadScheduler() {
		$.get('{{baseUri}}/api/eventcategories/get_list_selection', function(data) {
			data.forEach(function (category) {
				if ($('#eventCategories').val() === category._id) {
					categories.push({
						text: category.categoryName,
						value: category._id,
						color: category.colorCode
					});

					console.log('Category: ' + category.categoryName);
				}

				//console.log('{text: ' + category.categoryName + ', value: ' + category._id + '}');
			});

			$('#scheduler').kendoScheduler({
				date: new Date(),
				timezone: "GMT0",
				startTime: startTime,
				endTime: endTime,
				height: 700,
				views: [
					{ type: "day", showWorkHours: false },
					{ type: "week", selected: true, showWorkHours: false },
					"month",
					"timeline"
				],
				eventTemplate: $('#scheduler-event-template').html(),
				currentTimeMarker: {
					updateInterval: 100
				},
				dataSource: {
					batch: false, // Enable batch updates
					transport: {
						read: {
							url: "{{baseUri}}/api/events/get_all_events"
							//dataType: "json"
						}
					},
					schema: {
						model: {
							id: "eventId", // The "id" of the event is the "taskId" field
							fields: {
								// Describe the scheduler event fields and map them to the fields returned by the remote service
								eventId		: { from: "_id", type: "string" },
								categoryId	: { from: "_eventCategory._id" },
								title		: { from: "eventName", defaultValue: "No title", validation: { required: true } },
								description	: { from: "eventDesc" },
								start		: { type: "date", from: "startDate" },
								end			: { type: "date", from: "endDate" },
								startTime	: { type: "string", from: "startTime" },
								endTime		: { type: "date", from: "endDate" },
								timeSlotEnd	: { type: "string", from: "endTime" },
								isAllDay	: { type: "boolean", from: "isAllDay" },
								eventType	: { type: "string", from: "_eventType.typeName" },
								typeId		: { type: "string", from: "_eventType._id"},
							}
						}
					}
				},
				group: {
					resources: ["Categories"],
					orientation: "horizontal"
				},
				resources: [
					{
						field: "categoryId",
						name: "Categories",
						dataSource: categories,
						title: "Category"
					}
				]
			});
		});
	}

	$('.control-buttons').kendoButton();
</script>